.navbar-brand {
    font-size: 1rem;
    font-weight: bold;
}
.navbar-brand small{
    display: block;
}

.lead {
    font-size: 1rem; 
}

.navbar-brand span {
    display: block;
    font-size: 1.9rem;
    font-weight: bold;
    margin-top:-10px;
}

.titulo-pagina {
    background-color: rgb(238, 238, 238);
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.titulo-pagina h1 {
    font-size: 1.5rem;
    text-transform: uppercase;
}

header {
    background-color: #f8f9fa;
}
/*pular-linha -> quebra-linha*/
.quebra-linha {
    display: block;
}

#entre-em-contato {
    margin-top: 20px;
    background-color: rgb(238, 238, 238);
}

#entre-em-contato p {
    font-size: 1rem;
}

#botao-entre-em-contato {
    background-color: rgb(62, 62, 62);
    text-transform: uppercase;
}

footer {
    background-color: rgb(62, 62, 62);
    height: 150px;
}

.aumenta-margem h2{

    margin-top: 20px;
    margin-bottom: 20px;
    }
    
    .final-do-texto{
        margin-bottom: 20px;
    }

    .borda-bottom h2{
        border-bottom: 1px solid black;
    }

    .formatacao h2{
        font-size: 1.1rem;
        font-weight: bold;
    }

    .formatacao h3{
        font-size: .9rem;

    }
    .formatacao-titulo h3{
        font-size: 1rem;
    }
    .botao-publicacao{
        background-color: rgb(62, 62, 62);
    }

    .publicacao-destaque{
   
        background-color: #eee;
    }

.formatacao-link a h3{
    color: black;
    font-weight: bold;
}