.navbar-brand {
    font-size: 1rem;
    font-weight: bold;
}

.navbar-brand small {
    display: block;
}

.lead {
    font-size: 1rem;
}

.navbar-brand span {
    display: block;
    font-size: 1.9rem;
    font-weight: bold;
    margin-top: -10px;
}

.titulo-pagina {
    background-color: rgb(238, 238, 238);
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.titulo-pagina h1 {
    font-size: 1.5rem;
    text-transform: uppercase;
}

header {
    background-color: #f8f9fa;
}

#pular-linha {
    display: block;
}

#conteudo {
    height: 1000px;
}

#entre-em-contato {
    background-color: rgb(238, 238, 238);
}

#entre-em-contato p {
    font-size: 1rem;
}

#botao-entre-em-contato {
    background-color: rgb(62, 62, 62);
}

footer {
    background-color: rgb(62, 62, 62);
    height: 150px;
}

.aumenta-margem {
    margin-top: 20px;
    margin-bottom: 20px;
}

.final-do-texto {
    margin-bottom: 20px;
}

main h2 {
    font-size: 1.1rem;
    font-weight: bold;
}

main p {
    font-size: .9rem;
}

.aumenta-margem-top {
    margin-top: 20px;
}

.aumenta-margem-bottom {
    margin-bottom: 20px;
}

#botao-ver-noticia a {
    background-color: rgb(62, 62, 62);
}


@media (max-width:1209px) and (min-width:576px) {

    .altera-font-size p {
        font-size: .7rem;
    }

    .altera-font-size h2 {
        font-size: .8rem;
    }

    .altera-font-size a {
        font-size: .7rem;
    }

    .aumenta-margem-left-right {
        margin-left: -7px;
        margin-right: -7px;
    }

    .aumenta-margem-left {
        margin-left: -14px;

    }

    .aumenta-margem-right {
        margin-right: -14px;
    }
}


@media (max-width:575px) {

    .altera-font-size p {
        font-size: .7rem;
    }

    .altera-font-size h2 {
        font-size: .8rem;
    }

    .altera-font-size a {
        font-size: .7rem;
    }

    .aumenta-margem-left-right {
        margin-left: -7px;
        margin-right: -7px;
    }

    .aumenta-margem-left {
        margin-left: -14px;

    }

    .aumenta-margem-right {
        margin-right: -14px;
    }

}