<aside id="entre-em-contato">
    <div class="container">
      <div class="row p-4">
        <div class="col-sm">
          <p>
            <b>Faça parte da equipe do IFSP CodeLab</b>
          </p>
        </div>
        <div class="col-sm ">
          <button id="botao-entre-em-contato" type="button" class="btn btn-primary float-right">Entre em contato</button>
        </div>
      </div>
    </div>
  </aside>
  <footer>
    <div class="container">
      <div class="row">
      </div>
    </div>
  </footer>
  <script src="../bootstrap/js/jquery-3.3.1.slim.min.js"></script>
  <script src="../bootstrap/js/popper.min.js"></script>
  <script src="../bootstrap/js/bootstrap.min.js"></script>
  <script src="../assets/js/all.js"></script>