<header>
    <div class="container">
      <nav class="navbar navbar-expand-md navbar-light bg-light">
        <a class="navbar-brand " href="#">
          >IFSP
          <span>CODELAB</span>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown"
          aria-expanded="false" aria-label="Alterna navegação">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav  ml-auto  ">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
                O laboratório
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" href="/pages/missao-visao-valores.html">Missão, Visão e Valores</a>
                <a class="dropdown-item" href="/pages/publicacoes.html">Publicações</a>
                <a class="dropdown-item" href="/pages/equipe.html">Equipe</a>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/pages/projetos.html">Projetos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/pages/parcerias.html">Parcerias</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/pages/noticias.html">Notícias</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/pages/artigos.html">Artigos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/pages/contato.html">Contatos</a>
            </li>
          </ul>
          <!--fim lista -->
        </div>
        <!--Fim de dropdown-->
      </nav>
    </div>
    <!--Fim de container -->
  </header>