<div class="col-md-4">
    
</div>

<div id="sumario" class="card col-md-4">
    <h2> Sumário </h2>
    {% for assunto in page.assuntos %}
        {% if assunto.link %}
            <a class="sumario-titulo" href="{{ assunto.link }}"> {{ assunto.principal }} </a>
        {% else %}
        <p class="sumario-titulo">   {{ assunto.principal }}</p>
        <ul>
            {% for titulo in assunto.titulos %}
                <a  class="sumario-subtitulo" href="{{ titulo.link }}"> {{ titulo.name }} </a>
            {% endfor %}
        </ul>
        {% endif %}
    {% endfor %}

</div>
