
  <nav id="sumario" class="navbar col-md-4 navbar-dark bg-light">
    <nav class="nav nav-pills flex-column">
        <h2> Sumário </h2>
        {% for assunto in page.assuntos %}
            {% if assunto.link %}
                <a href="{{ assunto.link }}" class="nav-link">{{ assunto.principal }}</a>

            {% else %}
                <span class="nav-link">{{ assunto.principal }}</span>
                {% for titulo in assunto.titulos %}
                    <a href="{{ titulo.link }}" class="nav-link ml-3 my-1">{{titulo.name}}</a>
                {% endfor %}

            {% endif %}
            

        {% endfor %}
    </nav>
  </nav>