.navbar-brand {
    font-size: 1rem;
    font-weight: bold;
}

.navbar-brand small {
    display: block;
}

.lead {
    font-size: 1rem;
}

.navbar-brand span {
    display: block;
    font-size: 1.9rem;
    font-weight: bold;
    margin-top: -10px;
}

.titulo-pagina {
    background-color: rgb(238, 238, 238);
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.titulo-pagina h1 {
    font-size: 1.5rem;
    text-transform: uppercase;
}

header {
    background-color: #f8f9fa;
}

.quebra-linha {
    display: block;
}

#conteudo {
    height: 1000px;
}

#entre-em-contato {
    margin-top: 20px;
    background-color: rgb(238, 238, 238);
}

#entre-em-contato p {
    font-size: 1rem;
}

#botao-entre-em-contato {
    background-color: rgb(62, 62, 62);
    text-transform: uppercase;
}

footer {
    background-color: rgb(62, 62, 62);
    height: 70px;
}


.imagem-principal{
    
    margin-top: 30px;
    margin-bottom: 30px;
}

.texto-principal p{
    font-family: verdana;
    text-align: justify;
}

.texto-principal{
    margin-bottom: 30px;
}


.aumenta-margem h2 {
    margin-top: 20px;
    margin-bottom: 20px;
}

.final-do-texto {
    margin-bottom: 20px;
}


.borda-bottom h2 {
    border-bottom: 1px solid black;
}

main h2 {
    font-size: 1.1rem;
    font-weight: bold;
}

main p {
    font-size: .9rem;
}

.aumenta-margem-top {
    margin-top: 20px;
}

.aumenta-margem-bottom {
    margin-bottom: 20px;
}

#botao-ver-noticia a {
    background-color: rgb(62, 62, 62);
}


@media (max-width:1209px) and (min-width:576px) {

    .altera-font-size p {
        font-size: .7rem;
    }

    .altera-font-size h2 {
        font-size: .8rem;
    }

    .altera-font-size a {
        font-size: .7rem;
    }

    .aumenta-margem-left-right {
        margin-left: -7px;
        margin-right: -7px;
    }

    .aumenta-margem-left {
        margin-left: -14px;

    }

    .aumenta-margem-right {
        margin-right: -14px;
    }
}


@media (max-width:575px) {

    .altera-font-size p {
        font-size: .7rem;
    }

    .altera-font-size h2 {
        font-size: .8rem;
    }

    .altera-font-size a {
        font-size: .7rem;
    }

    .aumenta-margem-left-right {
        margin-left: -7px;
        margin-right: -7px;
    }

    .aumenta-margem-left {
        margin-left: -14px;

    }

    .aumenta-margem-right {
        margin-right: -14px;
    }

}
main h3 {
    font-size: .9rem;
}

.formatacao-titulo h3 {
    font-size: 1rem;
}

#botao-publicacao, .botao-publicacao, .botao-publicacao:hover{

    background-color: rgb(62, 62, 62);
}

.publicacao-destaque {

    background-color: #eee;
}


.preenchimento li{
    background-color: #eee;
}

.preenchimento a{
    color: black;
}

.preenchimento a:hover {
    text-decoration: none;
}

.negrito{
    font-weight: bold;
}

.formatacao-link a h3 {
    color: black;
    font-weight: bold;
}

.img-membro {
    width: 200px;
    height: 200px;
    margin-top: 20px;
    margin-bottom: 20px;
}

@media (max-width:367px) {
    #entre-em-contato p {
        font-size: 0.81rem;
        text-align: center;
    }
    #botao-entre-em-contato {
        width: 100%
    }
}

@media (min-width:368px) and (max-width:575px) {
    #entre-em-contato p {
        font-size: 1.01rem;
        text-align: center;
    }
    #botao-entre-em-contato {
        width: 100%
    }
}

@media (min-width:576px) and (max-width:767px) {
    #entre-em-contato p {
        font-size: 1rem;
        text-align: center;
    }

}

.formatacao-link a:hover{
    text-decoration: none;
}
.texto-imagem {
    text-align: center;
}

.img-recursiva {
    width:100%;
    height: auto;
}

.img-contato {
    width: 90px;
    height: 90px;
}
.link a{
    color: black;
    text-decoration: none;
}