#sumario{
    height: auto;
     a{
         text-decoration: none; 
         color: black;
     }
     p{
         text-align: justify;
     }
     
}

.sumario-titulo{
    text-transform: uppercase; 
}
.sumario-subtitulo{
    text-transform: capitalize;
}
.page{
    position: relative;
    height: 720px;
    overflow: auto;
 }

.nav-pills .nav-link.active, .nav-pills .show  {
    
    background-color: #3e3e3e;
    color: #fff!important;
}