#sumario{
    overflow: auto;
     a{
         text-decoration: none; 
         color: black;
     }
     p{
         text-align: justify;
     }
     
}

.sumario-titulo{
    text-transform: uppercase; 
}
.sumario-subtitulo{
    text-transform: capitalize;
}
.page{
    position: relative;
    height: 400px;
    overflow: auto;
    th{
        border-bottom: 1px solid black;
    }
    table{
        margin: 50px;
    }
    img{
        height: auto;
        width: 100%;
    }
 }

.nav-pills .nav-link.active, .nav-pills .show  {
    
    background-color: #3e3e3e;
    color: #fff!important;
}