#sumario{
    height: auto;
     a{
         text-decoration: none; 
         color: black;
     }
     p{
         text-align: justify;
     }
}

.sumario-titulo{
    text-transform: uppercase; 
}
.sumario-subtitulo{
    text-transform: capitalize;
}
@media (min-width: 768px){
    #sumario{
        position: fixed;
        width: 25%;
    }
}