
#sumario{
    
    overflow: auto;
    height: var(--height-screen);
     a{
         text-decoration: none; 
         color: black;
     }
     p{
         text-align: justify;
     }
     
}

@media (max-width: 769px){
   #sumario{
       display: none;
   } 
}


.sumario-titulo{
    text-transform: uppercase; 
}
.sumario-subtitulo{
    text-transform: capitalize;
}
.page{
    position: relative;
    height: var(--height-screen);
    overflow: auto;
    th{
        border-bottom: 1px solid black;
    }
    table{
        margin: 50px;
    }
    img{
        height: auto;
        width: 96%;
        margin: 3%;
    }
 }

.nav-pills .nav-link.active, .nav-pills .show  {
    
    background-color: #3e3e3e;
    color: #fff!important;
}