--- 
layout: layout 
titulo: Equipe 
subtitulo: 
---
<div class="row">
  <div class="col-md-12 p-4">
    <h1>Nossa Equipe</h1>
    <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
  </div>
</div>
</div>
</div>
<div class="container formatacao aumenta-margem borda-bottom formatacao-link">
  <div class="row">
    <div class="col-md-12">
      <h2>Cordenação</h2>
    </div>
  </div>
  <div class="row">
    {% for membro in site.membros %} 
    {% if membro.titulo == "Coordenador" %}
    <div class="col-md-3 col-sm-6">
      <div class="text-center">
        <a href="{{ membro.link }}">
          <img src="{{ membro.imagem }}" class="img-equipe rounded-circle">
          <h3>{{ membro.nick }}</h3>
        </a>
        <h3>{{ membro.funcao }}</h3>
      </div>
    </div>
    {% endif %} 
    {% endfor %}

  </div>
  <div class="row">
    <h2>Colaboradores</h2>
  </div>
  <div class="row">
    {% for membro in site.membros %} {% if membro.titulo == "Colaborador" %}
    <div class="col-md-3 col-sm-6">
      <div class="text-center">
        <a href="{{ membro.link }}">
          <img src="{{ membro.imagem }}" class="img-equipe rounded-circle">
        
        <h3>
          {{ membro.nick }}
        </h3></a>
        <h3>{{ membro.funcao }}</h3>
      </div>
    </div>
    {% endif %} {% endfor %}
  </div>

</div>


<!--
<h1>Equ</h1>

<ul>
  {% for membro in site.membros %}
  <li>
    <h2><a href="{{ membro.link }}">{{ membro.nome }}</a></h2>
    <h3>{{ membro.funcao }}</h3>
    <p>{{ membro.content | markdownify }}</p>
  </li>
  {% endfor %}
</ul>
-->