---
layout: layout
titulo: projetos
subtitulo:
---

<div class="row">
        {% assign f = site.projetos | reverse  %}
        {% assign k = f.size %}
    <div class="col-lg-12 p-4">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Quisquam laboriosam omnis fugiat iure quae recusandae deserunt
            asperiores blanditiis illo totam porro repellat optio,
            autem necessitatibus placeat esse eaque repudiandae molestiae.
        </p>
    </div>
</div>
<div class="row formatacao">
    {% for i in (0..f.size) %}
        {% if i == f.size %}
            {% break %}
        {% else %}    
    <div class="col-sm-6 col-md-4 p-4 d-flex">
        <a href="{{f[i].url}}" class="card">
            <img class="card-img-top" src="{{f[i].imagem}}" alt="imagem do card">
            <div class="card-body flex-fill">
                <h2 class="card-text">{{ f[i].titulo }}</h2>
                <p>{{ f[i].subtitulo }}</p>
            </div>
        </a>
    </div>
        {% endif %}
    {% endfor %}
</div>