---
layout: layout
titulo: Publicação
subtitulo:
---

<div class=" formatacao aumenta-margem">
  <div class="row">
    <div class="col-md-12">
      <h2 class="borda-bottom">PUBLICAÇÃO EM DESTAQUE</h2>
    </div>
  </div>
  <div class="row formatacao-titulo">
    <div class="col-md-12">
      <div class="w-100 p-3 publicacao-destaque clearfix">
        <h3 class="negrito">Título da Publicação em Destaque</h3>
        <p><b>Abstract:</b> Lorem ipsum dolor sit amet consectetur adipisicing elit. Est aut rem, quia fugiat hic,
          assumenda tempore eaque labore eius ut modi molestias quisquam dicta. Rem mollitia itaque soluta officia
          cupiditate?</p>
        <a id="botao-publicacao" href="#" class="btn btn-primary float-right">LER PUBLICAÇÃO</a>

      </div>
    </div>
  </div>
  {% for publicacao in site.data.publicacoes %}
  <div class="row">
    <div class="col-md-12">
      <h2 class="borda-bottom">{{publicacao.data}}</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 final-do-texto">
      <ul class="list-group preenchimento">
        {% for g in publicacao.grupo %}
        <li class="list-group-item"><a href="{{ g.link }}">{{ g.nome }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
  {% endfor %}
</div>