---
layout: layout
---

<div class="container-fluid">
    <div class="row">
        <div class="col p-3">
            <img src="../assets/images/icone-centro.png" class="objectImage rounded mx-auto d-block img-recursiva">
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col">
                <time class="data" datetime="2017-02-14"></time>
                <p class="negrito">{{ page.data }}</p>
            </div>
        </div>
        <div class="row">
            <div class="col preenchimento">
                {{ content }}
            </div>
        </div>
    </div>
</div>