---
layout: layout
titulo: projeto
subtitulo:
---
<div class="row">
    <div class="col-md-12 p-md-5 p-2">
        <img src="../assets/images/padrao.png" class="img-fluid rounded mx-auto d-block img-thumbnail" alt="imagem padrao">
    </div>
</div>

<div class="row">
    <div class="col-md-12 p-2">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Quisquam laboriosam omnis fugiat iure quae recusandae deserunt
            asperiores blanditiis illo totam porro repellat optio,
            autem necessitatibus placeat esse eaque repudiandae molestiae.
        </p>
    </div>
</div>

<div class="row formatacao">
    <div class="col-md-12 p-2">
        <h2>Processo de desenvolvimento</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Quia illum ex debitis facere porro! Omnis fugit dolorum expedita deserunt
            optio dolores est vero libero saepe, ad eveniet? Quo, maiores veniam?</p>
        <h2>Desafios e Conquistas</h2>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.
            Maxime saepe, ab, error doloribus fugit perferendis, ullam provident
            dolorum omnis aliquid dolor voluptates animi illum. Ullam quos atque perferendis
            corporis dolor.Architecto iste natus autem magnam aliquam deserunt
            perspiciatis expedita veniam quo? Ea repellendus facere porro? In, recusandae qui.
            Minus minima at voluptas ipsum nobis! Reiciendis in fugiat itaque natus sunt?</p>
    </div>
</div>

<div class="row">
    <div class="col-md-6 p-md-4 p-2">
        <img src="../assets/images/padrao.png" class="img-fluid rounded mx-auto d-block img-thumbnail" alt="imagem padrao1">
    </div>
    <div class="col-md-6 p-md-4 p-2">
        <img src="../assets/images/padrao.png" class="img-fluid rounded mx-auto d-block img-thumbnail" alt="imagem padrao2">
    </div>
</div>

<div class="row formatacao">
    <div class="col-md-12 p-2">
        <h2>Tecnologias Utilizadas</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Sit itaque accusantium fugit voluptatem blanditiis labore
            laboriosam in, consequatur, sequi debitis at voluptates quidem ipsam
            possimus maiores tempore libero nobis neque.</p>
    </div>

</div>
<div class="row">
    <div class="col-6 col-sm-4 col-md-2 p-2">
        <img src="../assets/images/grey.jpg" class="img-fluid rounded mx-auto d-block img-thumbnail" alt="imagem padrao3">
    </div>
    <div class="col-6 col-sm-4 col-md-2 p-2">
        <img src="../assets/images/grey.jpg" class="img-fluid rounded mx-auto d-block img-thumbnail" alt="imagem padrao4">
    </div>
    <div class="col-6 col-sm-4 col-md-2 p-2">
        <img src="../assets/images/grey.jpg" class="img-fluid rounded mx-auto d-block img-thumbnail" alt="imagem padrao5">
    </div>
    <div class="col-6 col-sm-4 col-md-2 p-2">
        <img src="../assets/images/grey.jpg" class="img-fluid rounded mx-auto d-block img-thumbnail" alt="imagem padrao6">
    </div>
    <div class="col-6 col-sm-4 col-md-2 p-2">
        <img src="../assets/images/grey.jpg" class="img-fluid rounded mx-auto d-block img-thumbnail" alt="imagem padrao7">
    </div>
    <div class="col-6 col-sm-4 col-md-2 p-2">
        <img src="../assets/images/grey.jpg" class="img-fluid rounded mx-auto d-block img-thumbnail" alt="imagem padrao8">
    </div>
</div>

<div class="row">
    <div class="col-md-12 p-2">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Sit itaque accusantium fugit voluptatem blanditiis labore
            laboriosam in, consequatur, sequi debitis at voluptates quidem ipsam
            possimus maiores tempore libero nobis neque.</p>
    </div>
</div>